<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CountryMapper">

	<cache-ref namespace="model.ICountry" />

	<select id="find" resultMap="model.ICountry">
		select * from T_COUNTRY where COUNTRY = #{code,javaType=java.lang.String}
	</select>

	<select id="pagination" resultMap="model.ICountry">
		<bind name="hasCountry"
			value="@org.apache.commons.lang.StringUtils@isNotEmpty(valueFilterMap.country)" />
		SELECT *
		FROM T_COUNTRY t
		<where>
			<if test="hasCountry">
				t.COUNTRY = #{valueFilterMap.country}
			</if>
		</where>
	</select>

	<select id="toto" resultMap="model.ICountry" lang="velocity">
		SELECT *
		FROM T_COUNTRY t
		#where()
			#if($!_parameter.valueFilterMap.country and !$_parameter.valueFilterMap.country.isEmpty()) 
				t.COUNTRY = @{_parameter.valueFilterMap.country} 
			#end
		#end
	</select>

</mapper>