<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ZipMapper">

	<cache-ref namespace="model.IZip" />

	<select id="find" resultMap="model.IZip">
		select * from T_ZIP where CITY = #{city,javaType=java.lang.String}
			and ZIP = #{zip,javaType=java.lang.String}
			and id_country = #{idCountry,javaType=java.io.Serializable}
	</select>

</mapper>