<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synaptix.taskmanager.dao.mapper.ErrorMapper">

	<delete id="deleteErrorsByIdObject" parameterType="java.io.Serializable">
		DELETE FROM T_ERROR
		WHERE ID_OBJECT = #{idObject,javaType=IId}
	</delete>

	<delete id="deleteErrorsByIdTask" parameterType="java.io.Serializable">
		DELETE FROM T_ERROR
		WHERE ID_TASK = #{idTask,javaType=IId}
	</delete>

</mapper>
